
<%= form_for (@video) do |f| %>

<div class = "input-group">
  <%= f.text_field :title, :class=>'bl field' %>
</div>
<div class = "actions">
  <%= f.submit :class=>'submit buttonvid'%>
</div>

<% end %>