<%= form_for([@video,@comment],remote: true, :url => video_comments_path(@video), id: "commentform") do |f| %>
  <div class="field">
    <%=f.hidden_field :time_stamp%>
  </div>
  <div class="field">
    <%= f.text_field :comment_text %>
  </div>

  <div class="actions" id="commentsubmit">
    <%= f.submit%>
  </div>
<% end %>


