<%= form_for([@video,@comment],remote: true, :url => video_comments_path(@video), id: "commentform") do |f| %>

  <div style='display:inline-block;vertical-align:text-top'>
    <%=f.hidden_field :time_stamp%>
    <%= f.text_field :comment_text, :class=>'bl', :id=>'comment_area', :rows=> 4, :cols=> 110%>
    <%= f.submit :class=>'submit button changebutton', :value=>'COMMENT', :id=>'comment_submit', :style=>"height: 80px"%>

  </div>
<% end %>
