<%= form_for([@video,@comment]) do |f| %>
  

  <div style='display:inline-block;vertical-align:text-top'>
    <%=f.hidden_field :time_stamp%>
    <%= f.text_area :comment_text, :class=>'bl', :id=>'comment_area', :rows=> 4, :cols=> 110%>
    <%= f.submit :class=>'submit button', :value=>'COMMENT', :id=>'comment_submit'%>
  </div>
<% end %>
