var yay_str = $('#comment_area').val();
// yay_str = "asdfasdfasdfasdf";
console.log(yay_str);

var s = "<div style='color:black; padding:10px;'>"+yay_str+"</div>";
var div = document.createElement("div");
div.innerHTML = s;
$("#comment_list").children()[0].appendChild(div);
$("#comment_area").val("");
