<%@comments.each do |comment|%>
	<div class='individual_comment' id="<%= comment.time_stamp%>">
		<table>
			<tr>
				<td class="comment_text" ><%= comment.comment_text%></td>
			</tr>
		</table>

	</div>
<%end%>

<script>
	var video=document.getElementById("myvideo"); 
	console.log(video);
    $('.individual_comment').click(function(){
		console.log("hello");
		console.log(this.id);
		video.pause();
		video.currentTime = 5;

		// video.currentTime = this.id;
		video.play();
		video.addEventListener("canplay",function() { 
			consoel.log("in canplay");
			video.currentTime = 5;
		});
	});
</script>