<%if @comments.count  > 0%>
	<%@comments.each do |comment|%>
		<div class='individual_comment' id="<%= comment.time_stamp%>">
			<table>
				<tr>
					<td class="comment_text" ><%= comment.comment_text%></td>
				</tr>
			</table>

		</div>
	<%end%>
<% else %>
	<div  >
		<table>
			<tr>
				<td class="comment_text" >Oops, no one made a comment here yet!</td>
			</tr>
		</table>

	</div>
<% end %>

<script>
	var playButton = document.getElementById("play-pause");
	var video=document.getElementById("myvideo"); 
    $('.individual_comment').click(function(){
		video.currentTime = this.id;
		video.play();
		playButton.src = '/assets/pause.png';
		var total_jump = Math.floor(video.duration)/10;
	     var single_jump = 800/total_jump;
	     var current_jump = Math.floor(video.currentTime/10);
	     var jump_value = single_jump*current_jump;

	     var stamp = Math.floor(current_jump)*10;

	     $('#ind_comment_container').html('');
   		 $('#pointer').css({"marginLeft": (jump_value-35)+'px'});

	});
  
</script>