<% @comments.each do |comment| %>
	<div class='individual_comment'>
		<table>
			<tr>
				<td class="comment_timestamp"><%= comment.time_stamp%></td>
				<td class="comment_text"><%= comment.comment_text%></td>
			</tr>
		</table>

	</div>
<% end %>
