.listing{
	margin-top: 20px;
}

.bl{
	color: #000;
}

.wh{
	color: #fff;
}

p {
	letter-spacing: 0;
	font-size: 12px;
}

b {
	text-decoration: none;
}

.emph {
	font-weight: bold;
	color: #000;
}

.sold {
	background: #609f45;
}
	
.not_sold {
	background: #b23e2a;
}

.sold_to_not {
	background: #f18b40;
}	
.not_to_sold {
	background: #d1d68b;
}			

/** TITLE PROPERTIES **/

.page_title{
	font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin";
	text-align: center;
	letter-spacing: 6px;
	font-size: 36px;
}

.sub_title{
	font-weight: 300;
	letter-spacing: 3px;
	font-size: 21px;
	margin: 10px 0 5px 0;
}

.heading{
	font-size: 16px;
}

/** TOP PANEL SEARCH AND UPLOAD **/
.toppanel {
	text-align: center;
	margin-top: -25px;
}

#search_bar {
	height: 18px;
	width: 350px;
	font-size: 16px;
	color: #111;
	vertical-align: text-top;
	margin-bottom: 15px;
}

#search_button {
	background-image: url('search.png');
	background-position:center;
	width: 20px;
	height:20px;
	background-color: transparent;
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
	border: none;
	vertical-align: text-top;
}

#upload{
	font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin";
	background-color: #668b8b;
	color: #fff;
	border: 1px solid #ccc;
	font-size: 16px;
	padding: 5px;
	margin-left: 47.55px;
}

/** RECENT VIDEO PANEL **/

#recentpanel, #featurepanel{
	height: 275px;
	width: 980px;
	background-color: #fff;
}

#recentpanel:hover {
	opacity: .9;
}

#recent_video{
	padding: 0;
	margin:13px;
	display: inline-block;
	vertical-align: text-top;

}

#recvid_title{
	text-transform: uppercase;
	font-weight: 300;
}

#recvid_info{
	width: 300px;
	display: inline-block;
	vertical-align: text-top;
	overflow: auto;
}

#recvid_chart{
	margin-left: -10px;
}

#recvid_feedback{
	width: 180px;
	display: inline-block;
	vertical-align: text-top;
	padding-top: 10px;
	padding-left: 10px;
}

#recvid_heading{
	margin-top: 10px;
}

.circle_l {
	display: inline-block;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width:20px;
    height:20px;  
    margin-left: -20px; 
    vertical-align: middle;
    margin-right: 5px;
}
.circle_s {
	display: inline-block;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    width:12px;
    height:12px;   
    margin-left: -16px;
    vertical-align: middle;
    margin-right: 9px;
}

.main_rec_feedback {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	line-height: 24px;
}

.change_rec_feedback {
	display: inline-block;
    vertical-align: middle;
	font-size: 13px;
}

/** VIDEO LISTING PROPERTIES **/
.videogroup{
	height:300px;
	width: 300px;
	position:relative;
	float:left;
}

/** VIDEO OVERLAY **/

.videopanel {
	margin-top: 15px;
}

.overlay{
	z-index:100;
    position:absolute;   
    top:15%;
	width:100%;
	pointer-events: none;
}

.table{
	width:100%;
}

td {
	width:50%;
	padding-top:5px;
}
.videotexttitle{
    color:#506e6e;
    font-size:24px;
    width:100%;
    text-align: center;
}

.videotext{
	z-index:100;
    position:relative;    
    /*position:absolute;  */
	font-size: 12px;
	text-align: center;
}
.videotextuser{
	z-index:100;
    /*position:relative;    */
	font-size: 12px;
	margin-left: 100px;
	text-align: right;
}

.videotextnum{
	z-index:100;
    position:relative;    
    /*position:absolute;  */
	font-size: 20px;
	text-align: center;
}
.toppanel{
	padding-top: 30px;
	width:100%;
}
#upload{
	margin-right: 5%;
}


/**  UPLOAD POPUP **/
#uploadcontent{
	/*display:none;*/
	text-align: center;
	margin-top: 10%;
}
