/** TITLE PROPERTIES **/

.title{
	text-align: left;
	margin-left: 4%;
	font-size: 16px;
	padding-bottom: 10px;
	margin-top: 2%;
	color: white;
	position:relative;
}


/** VIDEO LISTING PROPERTIES **/

.listing{
	margin-top: 8%;
	width: 100%;
	height: 100%;
}

.videopanel{
	border: 2px solid #F5F5F5;
	background-color: #FAFAFA;
	/*margin-top: 10px;*/
	height: 300px;
	opacity: 0.9;
	box-shadow: 2px 2px 5px #2e2f2f;
	/*margin-left:1%;*/
	/*margin-right:1%;*/
}
.videogroup{
	height:300px;
	width: 300px;
	position:relative;
	float:left;
	margin:2%;
	margin-top:3%;
}
.video{
	opacity: 0.25;
	/*box-shadow: 1px 1px 1px #888888;*/
	box-shadow: 2px 2px 5px #2e2f2f;
}

.videorow{
	margin-left:auto;
	margin-right:auto;
	width:90%;
}

.video:hover{
	opacity: 0.8;
	cursor:pointer;
}


/** VIDEO OVERLAY **/

.overlay{
	z-index:100;
    position:absolute;   
    top:15%;
    left:10%;
	width:100%;
	pointer-events: none;
}

.table{
	width:80%;
	color:#2e2f2f;
	float:left;
	text-align: center;
}

td {
	color:#2e2f2f;
	width:50%;
	padding-top:5px;
}
.videotexttitle{
    
    font-family: 'Arial';
    font-size:24px;
    width:100%;
    text-align: center;
    color:#2e2f2f;
}

.videotext{
	color:#2e2f2f;
	z-index:100;
    position:relative;    
    /*position:absolute;  */
	font-size: 12px;
	text-align: center;
}
.videotextuser{
	z-index:100;
	color:#2e2f2f;
    /*position:relative;    */
	font-size: 12px;
	margin-left: 100px;
	text-align: right;
}

.videotextnum{
	z-index:100;
	color:#2e2f2f;
    position:relative;    
    /*position:absolute;  */
	font-size: 20px;
	text-align: center;
}
.toppanel{
	padding-top: 30px;
	width:100%;
}
#upload{
	margin-right: 5%;
}


/**  UPLOAD POPUP **/
#uploadcontent{
	/*display:none;*/
	text-align: center;
	margin-top: 10%;
}
