.loginbox{
	height: 60%;
	text-align: center;
	padding: 10px;
	margin-top: 0%;
}

#top-line{
font-size: 24px;
font-weight: lighter;
}

#second-line{
font-size: 32px;
font-weight: lighter;
}

#signbutton{
	background-color:#6F9EA4;
	border: none;
	font-size: 16px;
	position: absolute;
	top: 76%;
	right:45.7%;
	width:100px;
	height: 32px;
	opacity: .9;
}

#log_email{
position:absolute;
font-size: 18px;
font-weight: 200;
top:64%;
left:32.5%;
height:24px;
width: 180px;
}

#log_pass{
position:absolute;
font-size: 18px;
font-weight: 200;
top: 64%;
right:32.5%;
height:24px;
width: 180px;
}

#remember_me{
position:absolute;
top:71%;
right:44%;
}

#no_account{
font-style: italic;
font-size: 14px;
}

.ex_links{
position: absolute;
top:84%;
right:41%;
}