* {
font-family: 'Helvetica Neue', Helvetica, sans-serif;
margin: 0;
padding: 0;
color: #fff;
font-weight: normal;
letter-spacing: 2px;
}

body {
	padding: 30px 30px 20px 30px;
}

.oops {
	text-align: center;
}

.reverse {

}

/** BACKGROUND IMAGES **/
.sessions {
	background-color: #000;
	background-image: url('cit1.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profiles {
	background-color: #fff;
	background: url('cit7.jpg');
	background-repeat:no-repeat;
	background-position-x: center;
	background-size: 1314px, 550px;
	-webkit-background-size: 1314px, 550px;
    -moz-background-size: 1314px, 550px;
    -o-background-size: 1314px, 550px;
}

.videos {
	background-color: #fff;
	background: url('cit6.jpg');
	background-repeat:no-repeat;
	background-position-x: center;
	background-position-y: -225px;
	background-size: 1480px, 725px;
	-webkit-background-size: 1480px, 725px;
    -moz-background-size: 1480px, 725px;
    -o-background-size: 1480px, 725px;
}

.button {
	-o-transition:.1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
}

.button:hover {
	opacity: .7;
	cursor: pointer;
}

/** IMAGES **/
#img_logo{
width: 27px;
height: 25px;
vertical-align: middle
}

#img_menu{
	width: 13px;
	height: 10px;
	margin-left: 2px;
	margin-bottom: 1px;
}

/** NAV ITEMS **/
.header_item {
	position: absolute;
	display: inline-block;
	vertical-align: baseline;
}

#nav_title{
font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin";
letter-spacing: 7px;
font-size: 21px;
left: 50%;
margin-left: -71px;
}

#nav_menu{
font-size: 16px;
vertical-align: middle;
right: 30px;
}

#nav_log{
font-size: 16px;
vertical-align: middle;
right: 220px;
}

/** MENU ITEMS **/
#menu_container{
	padding: 20px;
}

.nav_ctrl{
display: block;
margin: 10px;
font-size: 16px;
}

.nav_ctrl:hover {
opacity: .5;
}

/** RECENT PITCH **/
#rec_pitch{
	margin: 30px;
	padding: 5px;
	background-color: #fff;
}

#recent_panel_mini {
	margin: 5px;
}

#mini_title {
	font-size: 16px;
}

#mini_rec_info {

}

#mini_feedback {

}



/** FOOTER **/
#footer {
	font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin";
	font-size: 12px;
	text-align: center;
}

